<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>A presidential Flask example</h1>

<p>Click any president’s name.</p>

    <ul>
        {% for pair in pairs %}
        <li><a href="{{ url_for( 'detail', num=pair[0] ) }}">{{ pair[1] }}</a></li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
